<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'none';"> -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src vscode-resource: https:; script-src vscode-resource:; style-src vscode-resource:;"> -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src vscode-resource:; script-src vscode-resource:; style-src vscode-resource:;">
    <!-- <meta http-equiv="Content-Security-Policy"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{root}}/ui/wizard/wizard.page.css">

    <title>Wizard</title>
</head>
<body>
    wizard
    <!-- <img src="https://media.giphy.com/media/3oriO0OEd9QIDdllqo/giphy.gif" alt="no 1" srcset=""> -->
    <img src="{{root}}/media/TestingCat.gif" alt="no 2" srcset="">
    <!-- <img src="vscode-resource:/assets/media/TestingCat.gif" alt="no 3" srcset=""> -->

    <h1 id="lines-of-code-counter">0</h1>

    <script src="{{root}}/ui/wizard/wizard.page.js"></script>

</body>
</html>
